@charset "UTF-8";
body 
{
  background-color: #ffffff
}

.runTrans
{ 
	
	height: 46px;
    width: 111px;
    table-layout: fixed;
    border-collapse: collapse;
    padding: 14px 40px
 }
.space
{
	height : 100px;
	
}
.space1
{
	height : 50px
	
}

.buttons,.image
{
	align :left
}

.result
{
	align : bottom
}
textarea
{
	resize : none
}
span
{
	align :left
}
.clear
{
	aligh : right
}
.runTrans
{
	text-align: center
}